* {
  margin: 0px;
  padding: 0px;
}

#noscript-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#noscript-container b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#noscript-container img {
  height: 50%;
  width: 50%;
  box-sizing: border-box;
}

@media (max-width: 1087px) {
  #noscript-container img {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
  }


}
