* {
  margin: 0px;
  padding: 0px;
  user-select: none;
  
}
:root {
  --primaryColor: #3b82f6;
  --bodyColor: #f9fafb;
  --navBackground: #1f2937;
  --primaryText: #111827;
  --secondayText: #6b7280;
  --success: #10b981;
  --danger: #ef4444;
  --highlight: #dbeafe;
}

.nav-container {
  display: inline-flex;
  justify-content: space-between;

  background-color: var(--navBackground);
  height: fit-content;
  max-block-size: 80px;
  user-select: none;
}
.list-container ul {
  display: flex;
  justify-content: space-between;
}

.list-container ul li {
  --borderColor: #3a4555;
  color: var(--highlight);
  list-style: none;
  cursor: pointer;
  margin: 12px;
  border: solid 2px var(--borderColor);
  padding: 10px;
  border-radius: 12px;
}
.list-container ul li:hover {
  background-color: var(--borderColor);
  border: solid 2px;
  background-color: #dbeafe;
  color: var(--borderColor);
}
.logoandname {
  margin-top: 8px;
  display: flex;
  margin-left: 12px;
  margin-top: 16px;
}
.logoandname h2 {
  color: var(--highlight);
  text-align: center;
  height: inherit;
}
.logoandname img {
  height: 2rem;
  margin-top: 8px;
  background-color: #dfe7e0;
  border-radius: 50%;
  padding-bottom: 2px;
}
.img-container {
  display: none;
}

@media (max-width: 420px) {
  .nav-container{
    padding-block: 18px;
  }
  .list-container {
    display: none;
  }
  .img-container {

    display: inline-block;
    height: 20px;
  }
  .img-container img{
    
    align-items: center;
    margin-right: 12px;
    margin-top: 5px;
    cursor: pointer;
    user-select: none;

  }

  
  .logoandname {
    margin-top: 1px;
  }
}
