* {
  margin: 0px;
  padding: 0px;
}
:root {
  --primaryColor: #3b82f6;
  --bodyColor: #f9fafb;
  --navBackground: #1f2937;
  --primaryText: #111827;
  --secondayText: #6b7280;
  --success: #10b981;
  --danger: #ef4444;
  --border-radius: 12px;
  --highlight: #dbeafe;
}
.notes-background {
  border: 2px solid var(--highlight);
  height: fit-content;
  width: fit-content;
  max-width: 80%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: var(--border-radius);
  margin-block: 8px;
}

.note {
  padding: 10px;
  border-radius: inherit;
}

.note .title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  color: var(--primaryText);
}
.note .desc {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  color: var(--secondayText);
}

.note .checkbox {
  position: sticky;
  display: inline;

  left: 90%;
  bottom: 20%;
  height: 2rem;
  width: 2rem;

  border-radius: var(--border-radius);
}
