* {
  margin: 0px;
  padding: 0px;
}
:root {
  --primaryColor: #3b82f6;
  --bodyColor: #f9fafb;
  --navBackground: #1f2937;
  --primaryText: #111827;
  --secondayText: #6b7280;
  --success: #10b981;
  --danger: #ef4444;
  --borderRadius: 12px;
  --highlight: #dbeafe;
}
.searchbar {
  width: 101%;
  height: fit-content;
  display: flex;
  overflow: hidden;
  border: 2px black;
  padding: 6px;
  justify-content: center;
  box-sizing: border-box;
}
.searchbar input {
  width: inherit;
  padding: 12px;
  height: fit-content;
  box-sizing: border-box;
  background-color: inherit;
  border: 2px solid var(--navBackground);
  color: var(--secondayText);
  justify-content: center;
  border-radius: var(--borderRadius);
}

.searchbar input:focus {
  outline: var(--navBackground) 3px solid;
  box-shadow: 1px 1px 4px 2px var(--navBackground);
  color: var(--primaryText);
  text-align: start;
}
.searchbar input:hover {
  outline: var(--navBackground) 3px solid;
  box-shadow: 1px 1px 4px 2px var(--navBackground);
  color: var(--primaryText);
}
@media (max-width: 420px) {
  .searchbar input {
    width: inherit;
    height: fit-content;
    background-color: inherit;
    border: 2px solid var(--navBackground);
    color: var(--secondayText);
    border-radius: var(--borderRadius);
  }
}
