* {
  margin: 0px;
  padding: 0px;
}
:root {
  --primaryColor: #3b82f6;
  --bodyColor: #f9fafb;
  --navBackground: #1f2937;
  --primaryText: #111827;
  --secondayText: #6b7280;
  --success: #10b981;
  --danger: #ef4444;
  --borderRadius:12px;
  --highlight: #dbeafe;
}
.searchbar {
  width: inherit;
  height: fit-content;
  border: 2px black;
  display: flex;
  justify-content: flex-start;
}
.searchbar input{
  width: 50%;
  height: fit-content;
  padding: 16px;
  background-color: inherit;
  border: 2px solid var(--navBackground);
  color: var(--secondayText);
  border-radius: var(--borderRadius);
  margin-inline: 12px;
  
  
  
}
.searchbar button{

    display: inline-block;
    border-radius: 12px;
    padding-inline: var(--borderRadius);
    margin-left: 12px;
    padding-block: 6px;
    background-color: var(--navBackground);
}
.searchbar input:focus{
    outline: var(--navBackground) 3px solid;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px 2px var(--navBackground);
    color: var(--primaryText);
    width: 80%;
    text-align: start;
   
   
    
}
.searchbar input:hover{
   
    outline: var(--navBackground) 3px solid;
    box-sizing: border-box;
    width: 80%;
    box-shadow: 1px 1px 8px 2px var(--navBackground);
    color: var(--primaryText);
}
@media (max-width: 420px) {

    .searchbar input{
        width: 50%;
        height: fit-content;
        padding: 10px;
        background-color: inherit;
        border: 2px solid var(--navBackground);
        color: var(--secondayText);
        border-radius: 30px;
        
        
      }

}